<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="referrer" content="no-referrer">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_1540406_1h0f54vtvzl.css">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_1720025_k963u0uezhe.css">
    <title>mafengwo-tour</title>
  </head>
  <style>
    #app{
      height: 100%;
    }
  </style>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
